.profile {
    display: flex;
}

    .profile .profile__right {
        flex: 9;
    }

        .profile__right .profile__right__top {

        }
            .profile__right__top .profile__cover {
                height: 320px;
                position: relative;
            }

                .profile__cover .profile__cover__img {
                    width: 100%;
                    height: 250px;
                    object-fit: cover;
                }

                .profile__cover .profile__user__img {
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    object-fit: cover;
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: auto;
                    top: 150px;
                    border: 3px solid var(--borda);
                }

            .profile__right__top .profile__info {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
                
                .profile__info .profile__info__name {
                    font-size: 24px;
                    color: var(--tp);
                }

                .profile__info .profile__info__desc {
                    font-weight: 300;
                    color: var(--tp);
                }


        .profile__right .profile__right__bottom {
            display: flex;
        }